@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-green: #00ff41;
  --accent-blue: #00d1ff;
}

body {
  background-color: #0a0a0a !important;
  color: #ededed !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.grid-background {
  background-image: radial-gradient(circle, #333 1px, transparent 1px) !important;
  background-size: 30px 30px !important;
}
